#!/usr/bin/env bash
# `.envrc` is run by `direnv(1)` when you `cd` into the directory
# for more information, see: https://direnv.net/

# load private environment variables from ./.env if it's present
if [ -f .env ]; then
  set -a # ensure assigning a variable exports it
  source .env
  set +a
fi